@model projet_boutique_vinyle.Models.TArtist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TArtist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pseudonym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pseudonym)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birtdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birtdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deathdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deathdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdArtist">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
